body{
    padding: 0;
    margin: 0;
    background: rgb(255, 140, 140)  url("./assets/PIKIMELL.svg") no-repeat scroll 50% 50%;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

a{
    all: unset;
    cursor: pointer;
}
ul{
    min-width: 300px;
    width: 30vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 20px;
    list-style-type: none;
    list-style: none;
}

li{
    width: 100%;
    text-align: center;
    color: #2a2a2a;
    -webkit-backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background: #ffffff40;
    border: 1px solid #ffffff2e;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    box-shadow: 0 8px 32px #231f1f5e;
}